<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Записи за последний час</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
</head>
<body>
<h1>Cписок пользователей и используемых ими форм за последний час</h1>
<table id="users">
    <thead>
    <tr>
        <th> Уникальный идентификатор пользователей</th>
        <th> Время</th>
        <th> Группа события</th>
        <th> Тип события</th>
        <th> Подтип события</th>
        <th> Адрес с которого пришло событие</th>
        <th> Организация предоставляющая услугу</th>
        <th> Идентификатор формы</th>
        <th>Код</th>
        <th> Ключ сессии</th>
        <th> Ответ от сервиса авторизации</th>
        <th> Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${lastHourActivities}">
        <td><span th:text="${user.ssoid} "></span></td>
        <td><span th:text="${user.ts}"></span></td>
        <td><span th:text="${user.grp}"></span></td>
        <td><span th:text="${user.type}"></span></td>
        <td><span th:text="${user.subtype}"></span></td>
        <td><span th:text="${user.url}"></span></td>
        <td><span th:text="${user.orgid}"></span></td>
        <td><span th:text="${user.formid}"></span></td>
        <td><span th:text="${user.code}"></span></td>
        <td><span th:text="${user.ltpa}"></span></td>
        <td><span th:text="${user.sudirresponse}"></span></td>
        <td><span th:text="${user.ymdh}"></span></td>
    </tr>
    </tbody>
</table>

<div class="pagination-div">
    <th:block th:each="i: ${#numbers.sequence(0, lastHourActivities.totalPages - 1)}">
        <span th:if="${lastHourActivities.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${lastHourActivities.number == i}">
             <a th:href="@{/lastHourActivities(lastHourActivities=${i},size=${lastHourActivities.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${lastHourActivities.hasNext()}">
        <a th:href="@{/lastHourActivities(lastHourActivities=${lastHourActivities.number+1},size=${lastHourActivities.size})}">Next</a>
    </span>
</div>
</body>
</html>