<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Записи за последний час</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/users.css}">
</head>
<body>
<h1>Список пользователей, которые начали активность на форме и их последние активности</h1>
<table id="users">
    <thead>
    <tr>
        <th> Уникальный идентификатор пользователей</th>
        <th> Тип события</th>
        <th> Подтип события</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${usersLastActivities}">
        <td><span th:text="${user.ssoid} "></span></td>
        <td><span th:text="${user.type}"></span></td>
        <td><span th:text="${user.subtype}"></span></td>
    </tr>
    </tbody>
</table>
<div class="pagination-div">
    <th:block th:each="i: ${#numbers.sequence(0, usersLastActivities.totalPages - 1)}">
        <span th:if="${usersLastActivities.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${usersLastActivities.number == i}">
             <a th:href="@{/usersLastActivities(usersLastActivities=${i},size=${usersLastActivities.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${usersLastActivities.hasNext()}">
        <a th:href="@{/usersLastActivities(usersLastActivities=${usersLastActivities.number+1},size=${usersLastActivities.size})}">Next</a>
    </span>
</div>
</body>
</html>